body {
	background-color: lightblue;
}
h1 {
	color: green;
	text-decoration: overline;
	text-align: center;
}
div {
	background-color: hotpink;
	color: white;
	text-align: center;
	width: 200px;
	height: 200px;
	border-top: 5px dashed black;
	border-bottom: 5px dotted green;
	border-left: 5px solid yellow;
	border-radius: 20px;
	margin-left: 42%;
	padding-top: 99px;
}
input {
	background-color: black;
	color: yellow;
	border: 1px solid white;
	border-radius: 25px;
}